.flex-container {
    display: flex;
    justify-content: flex-start
}

.flex-contain {
    display: flex;
    text-align: center
}

.flex-contain>div,
.flex-container>div {
    font-weight: 600;
    font-size: 12pt
}

.nameofcompany {
    background-color: #f66;
    width: 100%
}

.aside1 {
    background-color: #ff0;
    width: 24%;
    text-align: center
}

.columncontent,
.mainarticle {
    padding: 5px 10px;
    width: 26%;
    text-align: left
}

.mainarticle {
    background-color: #009;
    color: #fff
}

.columncontent {
    background-color: #f6f;
    color: #30f
}

.aside2 {
    background-color: #fcc;
    width: 24%;
    text-align: center
}

.footer {
    background-color: #6f9;
    width: 100%
}

#content a[href$=".html"]::after,
#content a[href$=".htm"]::after {
    content: url(homework1/browser.png);
    padding: 5px
}

#content a[href$=".pdf"]::after {
    content: url(homework1/pdf.png);
    padding: 5px
}

#content a::after {
    content: url(homework1/intmark.png);
    padding: 5px
}